@import '../../utils/theme.css';

.recover-password a {
    color: var(--theme-secondary);
}

.recover-password a:hover {
    text-decoration: none;
}

.recover-password .recover-password-header {
    color: var(--theme-primary);
}

.recover-password .recover-password-header nav {
    background-color: var(--theme-light);
    color: var(--theme-primary);
    box-shadow: 0 0 8px var(--theme-grey);
}

.recover-password .recover-password-content {
    margin-top: 8rem;
    height: 70vh;
}

.recover-password .recover-password-content h2 {
    color: var(--theme-dark);
}

.recover-password .btn-primary {
    background-color: var(--theme-primary);
    border: 1px solid var(--theme-primary);
    color: var(--theme-light);
    transition: 0.8s;
}

.recover-password .btn-primary:hover {
    background-color: var(--theme-light);
    border: 1px solid var(--theme-primary);
    color: var(--theme-primary);
}

.recover-password .btn-info {
    background-color: var(--theme-secondary);
    border: 1px solid var(--theme-secondary);
    color: var(--theme-light);
    transition: 0.8s;
}

.recover-password .btn-info:hover {
    background-color: var(--theme-light);
    border: 1px solid var(--theme-secondary);
    color: var(--theme-secondary);
}